.icon {
  aspect-ratio: 2;
  border: solid var(--color-dun) 1px;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;

  .icon-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 450px) {
  .icon {
    aspect-ratio: 1;
  }
}
